@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(0, 0, 0, 0.900);
    color: white;
}

/* Header and Navbar */
header{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    color: white;
    font-size: 25px;
    font-family: cursive;
}

.logo span{
    color: orange;
}

.logo i{
    color: orange;
}

header ul{
    display: flex;
    flex-direction: row;
}

header ul li a{
    color: white;
    margin: 0px 10px;
    padding: 0px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header ul li a:hover{
    color: orange;
    transition: all .5s;
    text-decoration: underline;
}

header .bar a{
    font-size: 30px;
}

header .bar a{
    color: white;
    margin: 0px 10px;
}

header .bar a:hover{
    color: orange;
    transition: .5s;
}

.bar div{
    margin: 0px 10px;
}

.bar div:hover{
    color: orange;
    transition: .5s;
    cursor: pointer;
}

#menu-icon{
    display: none;
}


/* Section Home */
.wrapper, .slide{
    width: 100%;
    height: 100%;
}

.slide h1{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    word-spacing: 5px;
    letter-spacing: 5px;
    font-size: 3.5vw;
    margin-bottom: 20px;
}

.slide p{
    font-family: 'Poppins', sans-serif;
}

.slide img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.image-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    width: 100%;
}

#st{
    color: white;
}
#nd{
    color: orange;
}
#rd{
    color: crimson;
}

.btn button{
    background-color: midnightblue;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 110px;
    margin: 0px 20px;
}
.btn button:hover{
    background-color: orangered;
    cursor: pointer;
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}



/* Section Contact Details */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 0px;
}

.container div{
    background-color: rgba(128, 128, 128, 0.250);
    width: 20%;
    padding: 20px 0px;
    border-radius: 20px;
}

.container img{
    width: 30px;
    margin-bottom: 10px;
}

.container h3{
    font-size: 15px;
    padding: 5px;
}

.container h5{
    color: grey;
    padding: 5px;
    cursor: pointer;
}

.container h5:hover{
    color: rgba(255, 255, 255, 0.600);
    transition: all .5s;
}

.con1, .con2, .con3{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Section about */
.about{
    display: flex;
    flex-direction: row;
    padding: 80px 50px;
    justify-content: space-between;
    align-items: center;
}

.about .abt-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px;
}

.about .abt-img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt-img img{
    width: 25vw;
    border-radius: 20px;
}

.abt-text h2{
    font-size: 30px;
    font-family: Roboto;
    padding: 20px 0px;
}

.abt-text h2 span{
    color: orange;
}

.abt-text p{
    font-family: Nunito;
    font-size: 16px;
    padding: 20px 0px;
}

.abt-text button{
    background-color:midnightblue;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 120px;
}

.abt-text button:hover{
    background-color: orangered;
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

/* Section Food */
.food{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 50px 0px;
}

.fd1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fd1 h2{
    color: orange;
    padding-bottom: 10px;
    font-family: overpass;
}

.fd1 h4{
    padding-bottom: 10px;
    font-family: overpass;
}

.fd2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px;
}
.fd2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.250);
}

.fd2 div img{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
    object-fit: cover;
    overflow: hidden;
}

.fd2 div img:hover{
    opacity: 0.7;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
}

.fd2 div h4{
    margin: 10px 0px 0px 0px;
    font-family: Ubuntu;
}
.fd2 div h5{
    font-family: Ubuntu;
    color: orange;
    padding: 5px 0px;
}

.all button{
    background-color:midnightblue;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 120px;
}
.all button:hover{
    background-color: orangered;
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

/* Section Reviews */

.review{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 80px 0px;
}
.review .cust{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cust div{
    width: 25%;
    background-color: rgba(112, 128, 144, 0.300);
    border-radius: 10px;
    padding: 10px;
}
.cust div img{
    width: 25%;
    border-radius: 5px;
}
.cust h4{
    font-family: Noto Sans;
    color: rgb(255, 121, 76);
}
.cust span{
    color: slateblue;
}
.cust p{
    font-family: Nunito;
}

.review .rev-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.rev-top h2{
    color: orange;
    padding-bottom: 10px;
    font-family: overpass;
}
.rev-top h4{
    font-family: overpass;
}




/* Contact us form */

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
.contact h2{
    color: orange;
    padding-bottom: 10px;
    font-family: overpass;
}

.contact p{
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    text-align: center;
}

.contact .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.details{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.details div p span{
    color: orange;
}

.contact .btn span{
    color: orange;
    font-size: large;
    font-weight: 600;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 350px;
    margin: 20vh auto;
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
    cursor: pointer;
}

form{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form p{
    font-size: 15px;
    color: white;
    padding: 5px;
}
input[type="text"], input[type="email"]{
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border-radius: 3px;
    border: none;
}

#subject{
    padding: 10px;
    width: 100%;
    font-size: 12px;
    border-radius: 3px;
    border: none;
}
#message{
    width: 100%;
    height: 60px;
    padding: 5px;
    border-radius: 3px;
    border: none;
}

input[type="submit"]{
    background-color:midnightblue;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 120px;
}
input[type="submit"]:hover{
    background-color: orangered;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

/* Playstore and Appstore */

.down{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 40px 0px;
}
.down img{
    border-radius: 5px;
    width: 130px;
    margin: 0px 20px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.down img:hover{
    transform: scale(1.1);
}


/* **************Social Media Handles************ */
.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow h2{
    font-family: Nunito;
    color: orange;
    padding: 10px;
}

.follow .social a{
    font-size: 40px;
    margin: 0px 10px;
    border-radius: 5px;
    color: white;
}
.follow .social a i:hover{
    color: lightseagreen;
    transition: all .3s;
}

/* ***************Section Footer***************** */
.foot{
    display: flex;
    flex-direction: column;
}

.foot h3{
    font-family: Nunito;
    color: orange;
    padding: 10px;
}

.ft{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ft div{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.ft div ul li{
    padding: 5px;
}

.ft div ul li a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ft div ul li a:hover{
    color:lightsalmon;
    transition: all .3s;
}


/* ******************Copyright Section******************** */
.copy p a{
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 12px;
}
.copy p{
    text-align: center;
}
.copy p a:hover{
    color:lightsalmon;
    transition: all .3s;
}